<div class="mainContentContainer">
    <p>ㅎㅇㅎㅇㅎㅇ</p>
    <div class="mainContent">
        <div>
            <div class="mainTitle">Country List</div>
            <span class="example-spacer"></span>
            <button class="requestBtn">Add Country</button>
        </div>
    </div>

    <!-- <div class="historyTableBox">
        <table mat-table [dataSource]="countryList" class="mat-elevation-z8 historyTable">
            <ng-containter matColumnDef="countryName"></ng-containter>
        </table>
    </div> -->
</div>